<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body class="container mt-4">
    <div id="app" class="row">
        <form class="col">
            <label for="book-name" class="form-label">Enter Book Name</label>
            <input id="book-name" v-model='query' class="form-control" />
            <button v-on:click='AddBook($event)' class="btn btn-primary mt-2">Add Book</button>
        </form>
        <div class="col">
            <h1>Books</h1>
            <h2>{{ author }}</h2>
            <ul class="list-group">
                <li v-for='book in books' class="list-group-item">
                    {{ book }}
                </li>
            </ul>
        </div>
        </div>
        <script src="app.js"></script>
</body>

</html>